@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
h1, p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
a{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
    padding: 10px 10px;
}
a:hover{
    border: 1px solid lime;
    transition: 0.2s;
}
.card{
    color: rgba(0,0,0,0.3);
    float: right;
    margin-right: 20px;
}
.sprint{
    margin-bottom: 20px;
    font-size: 20px;
}
.lessons{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.sprint1, .sprint2{
    width: 80%;
    margin: auto;
    height: 500px;
    background: white;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3);
}
.sprint2:hover{
    transition: 0.5s;
    background: rgba(236, 131, 131, 0.3);
}
.sprint1:hover{
    transition: 0.5s;
    background: rgba(118, 207, 140, 0.3);
}
.lesson{
    width: 20%;
    height: 150px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 50px;
    background:whitesmoke;
}