@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
}
.header{
    width: 1440px;
    margin: 0 auto;
}
.header__menu{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 17px;
    display: flex;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
.logo{
    padding-right: 27px;
    border-right: 1px solid grey;
}
.language{
    display: flex;
    flex-direction: column;
    padding-left: 26px;
    padding-right: 32px;
    border-right: 1px solid grey ;
}
.language-ua, .language-ru{
    border: 0;
    font-weight: bold;
}
.language-ua{
    background-color: #fff;
    width: 32px;
    height: 31px;
    margin-bottom: 2px;
    margin-top: 10px;
}
.language-ru{
    background-color: lime;
    color: white;
    border-radius: 2px;
}
.value{
    font-family: 'Questrial', sans-serif;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-right:1px solid grey;
}
.social{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    border-right: 1px solid grey;
}
.social-icon{
    margin-right: 10px;
    font-size: 20px;
}
.social-icon:last-child{
    margin-right: 0;
}
.contacts{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    border-right: 1px solid grey;
}
.smartphone-img{
    height: 39px;
    width: 39px;
    margin-left: 10px;
    margin-top: 14px;
}
.number{
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Questrial', sans-serif;
}
.numbers{
    width: 120px;
    padding-top: 15px;
    height: 39px;
}
.search{
    display: flex;
    padding-left: 35px;
}
.maistra-online{
    display: flex;
    background: rgba(0,0,0,0.2);
    height: 55px;
    margin-top: 10px;
    border-radius: 5px;
}
.maistra-p{
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Questrial', sans-serif;
}
.maistra-img{
    padding-top: 17px;
    background: red;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 5px;
    color: #fff;
}
.tours-online{
    margin-left: 20px;
    display: flex;
    background: rgba(0,0,0,0.1);
    height: 55px;
    margin-top: 10px;
    border-radius: 5px;
}
.search-p{
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Questrial', sans-serif;
}
.search-img{
    padding-top: 17px;
    background: lime;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 5px;
    color: white;
}
.header__nav{
    padding-top: 25px;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    width: 1340px;
}
.nav div{
    display: flex;
}
.fa-caret-down{
    margin-top: 2px;
    margin-left: 2px;
}
.hotels{
    padding-bottom: 20px;
    border-bottom: 3px solid red;
}
.c-white{
    color: #fff;
}
.img__headline{
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 23px;
    margin-bottom: 23px;
    font-family: 'Montserrat', sans-serif;
}
.p-border{
    border: 1px solid white;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.main__img{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%), url(../img/maxresdefault.jpg);
    height: 490px;
}
.img-text{
    position: relative;
    width: 725px;
    top: 130px;
    left: 150px;
}
.img-btn{
    width: 270px;
    height: 60px;
    border: 0;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}