@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'montserrat';
	background-color: rgb(241, 240, 240);
	background-image: url(img/circle.png), url(img/triangle.png);
	background-repeat: no-repeat;
	background-size: 300px, 300px, 100%;
	background-position: bottom -200px left -70px, top -120px right -100px;
}
.main{
	width: 90vw;
	max-width: 900px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}
.left_block{
	box-sizing: #fff;
	height: 100%;
	flex-grow: 2;
	padding: 2rem 1rem;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
}
.left_block h2{
	font-size: 30px;
	font-weight: bold;
}
.right_block{
	flex-grow: 1;
}
a{
	margin: 1rem 1rem;
	text-decoration: none;
	color: black;
}
.social_icon{
	display: inline-block;
	font-weight: 700;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	border: 1px solid #697a79;
}
.social_icon:hover{
	background: #697a79;
	color: white;
}
p{
	margin: 1rem 0;
	max-width: 300px;
	width: 100%;
	font-size: 0.95rem;
	line-height: 1.5;
	font-weight: 400;
	text-align: center;
}
input{
	width: 300px;
	padding: 1rem 0.75rem;
	background-color: #fff;
	margin: 0.5rem 0;
	border: 0;
	color: inherit;
	font-family: inherit;
}
.help{
	border-bottom: 1px dashed #000;
	text-decoration: none;
	color: inherit;
	padding-bottom: 5px;
}
.left_btn{
	background-color: #3ab19b;
	border: none;
	color: #fff;
	border-radius: 50px;
	padding: 0.85rem 2.75rem;
	margin: 2rem 0;
	text-transform: uppercase;
}
.left_btn:hover{
	border: 1px solid #fff;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.36);
}
form{
	text-align: center;
	display: flex;
	flex-direction: column;
}
.right_block{
	background-color: #3AB19B;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 2;
	padding: 2rem 1rem;
	height: 100%;
	color: white;
}
.fas{
	background: none;
    border: 1px solid currentColor;
    border-radius: 50px;
    padding: 0.85rem 2.75rem;
    margin: 2rem 0;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.fas:hover{
	background: #fff;
	color: #3AB19B;
}